.card {
  box-sizing: border-box;
  width: 357px;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 12px;
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: 0px 2px 6px var(--color-shadow);
    cursor: pointer;
  }

  &__title {
    width: 241px;
    font-weight: 700;
    line-height: 18px;
    font-size: 16px;
    color: var(--color-default);
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text {
    margin-left: 12px;
    color: var(--color-text);
  }

  &__link {
    display: block;
    margin-bottom: 4px;
    text-decoration: none;
    color: var(--color-text);
    &:hover {
      color: var(--link-hover);
    }
  }
}
