:root {
  --color-primary: #d9d9d9;
  --color-secondary: #ff5555;
  --color-secondary_hover: #ff5555;
  --color-text: #7e7e7e;
  --color-default: #000;
  --link-hover: #208fbf;
  --color-background: #fff;
  --color-shadow: #b6b6b6;
  --color-raiting: #ff9432;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
