@import "../index.scss";
@import "~antd/dist/antd.css";
.App {
  max-width: 357px;
  margin: 0 auto;
  padding-top: 0;
  height: 90vh;
  overflow-y: scroll;
}

.search {
  padding: 20px 0;
  position: sticky;
  background: var(--color-background);
  top: 0;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}
