<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hw-1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="search">
        <input
          type="text"
          class="search__input"
          placeholder="Введите название организации"
        />
        <button class="search__btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="cards">
        <div class="card">
          <div class="card__logo"><span>K</span></div>
          <div class="card__text">
            <div class="card__title">kts-school-frontend<span>123</span></div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
        <div class="card">
          <div class="card__logo">
            <img src="/src/layouts/img/avatar.png" alt="ew" />
          </div>
          <div class="card__text">
            <div class="card__title">
              very-long-repository-name-and-something<span>123</span>
            </div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
        <div class="card">
          <div class="card__logo"><span>K</span></div>
          <div class="card__text">
            <div class="card__title">kts-school-frontend<span>123</span></div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
        <div class="card">
          <div class="card__logo">
            <img src="/src/layouts/img/avatar.png" alt="ew" />
          </div>
          <div class="card__text">
            <div class="card__title">kts-school-frontend<span>123</span></div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
        <div class="card">
          <div class="card__logo"><span>K</span></div>
          <div class="card__text">
            <div class="card__title">kts-school-frontend<span>123</span></div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
        <div class="card">
          <div class="card__logo"><span>K</span></div>
          <div class="card__text">
            <div class="card__title">kts-school-frontend<span>123</span></div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
        <div class="card">
          <div class="card__logo">
            <img src="/src/layouts/img/avatar.png" alt="ew" />
          </div>
          <div class="card__text">
            <div class="card__title">kts-school-frontend<span>123</span></div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
        <div class="card">
          <div class="card__logo"><span>K</span></div>
          <div class="card__text">
            <div class="card__title">kts-school-frontend<span>123</span></div>
            <div class="card__link"><a href="#">ktsstudio</a></div>
            <div class="card__rating"><i class="far fa-star"></i>123</div>
            <div class="card__update">Updated 21 Jul</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
