:root {
  --color-primary: #d9d9d9;
  --color-secondary: #ff5555;
  --color-secondary_hover: #ff5555;
  --color-text: #7e7e7e;
  --color-default: #000;
  --linl-hover: #208fbf;
  --color-background: #fff;
  --color-shadow: #b6b6b6;
  --color-raiting: #ff9432;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 357px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 0;
  height: 90vh;
  overflow-y: scroll;
  display: grid;
}

.search {
  height: 50px;
  padding: 20px 0;
  position: sticky;
  background: var(--color-background);
  top: 0;
  display: flex;
}

.search__input {
  display: block;
  box-sizing: border-box;
  width: 295px;
  height: 50px;
  outline: 0;
  outline-offset: 0;
  border: 1px solid var(--color-primary);
  color: var(--color-text);
  border-radius: 6px;
  padding-left: 12px;
}
.search__input:focus {
  border: 1px solid var(--color-secondary);
  color: var(--color-default);
}

.search__input:disabled {
  border: 1px solid var(--color-primary);
}
.search__btn {
  width: 50px;
  height: 50px;
  font-size: 17.5px;
  margin-left: 12px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--color-secondary);
  color: var(--color-background);
}
.search__btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.search__btn:disabled {
  background-color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 0;
}
.card {
  box-sizing: border-box;
  width: 357px;
  height: 104px;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.card:hover {
  box-shadow: 0px 2px 6px var(--color-shadow);
  cursor: pointer;
}

.card__logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__logo span {
  color: var(--color-background);
  font-size: 42px;
  font-weight: 700;
}
.card__text {
  margin-left: 12px;
  width: 250px;
  color: var(--color-text);
}

.card__title {
  width: 241px;
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
  color: var(--color-default);
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__link {
  margin-bottom: 4px;
}
.card__link > a {
  text-decoration: none;
  color: var(--color-text);
}
.card__link a:hover {
  color: var(--linl-hover);
}
.card__rating {
  display: inline-block;

  margin-right: 20px;
}
.card__rating > .far {
  font-size: 12.39px;
  vertical-align: 2px;
  margin-right: 5px;
  color: var(--color-raiting);
}
.card__update {
  display: inline;
}
